flask==2.2.3
waitress==2.1.2
flask-limiter==3.3.0
flask-cors==3.0.10
flask-compress==1.13
apscheduler==3.10.1
git+https://github.com/Tanikai/flask-matomo@v1.3.0
git+https://github.com/Tanikai/uniulm_mensaparser@v0.2.0